n8n-nimbus-simple.json
{
  "name": "CloudWalk Nimbus - Click Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "973d5b3f-1952-42c2-8de7-671ae0906f24",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "973d5b3f-1952-42c2-8de7-671ae0906f24"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equal",
              "value2": "challenge_click"
            }
          ]
        }
      },
      "id": "filter-node",
      "name": "Filter - Only Challenge Clicks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SEU_GOOGLE_SHEETS_ID_AQUI",
        "sheetName": "Challenge_Events",
        "columns": "timestamp,event_type,challenge_name,challenge_title,challenge_level,action,session_id,user_agent,url,referrer",
        "options": {}
      },
      "id": "sheets-node",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        680,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"message\": \"Challenge click tracked\", \"challenge\": \"{{$json.challenge_name}}\"}"
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ignored\", \"message\": \"Event type not tracked\", \"received\": \"{{$json.event_type}}\"}"
      },
      "id": "response-ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter - Only Challenge Clicks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only Challenge Clicks": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "nimbus-click-tracking",
  "tags": []
} 