n8n-nimbus-click-tracking.json
{
  "name": "CloudWalk Nimbus - Challenge Click Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "973d5b3f-1952-42c2-8de7-671ae0906f24",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f6b8d4e8-8c7a-4b9e-9f1a-2b3c4d5e6f7a",
      "name": "Webhook - Challenge Clicks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "973d5b3f-1952-42c2-8de7-671ae0906f24"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8a7b6c5d-4e3f-2a1b-9c8d-7e6f5a4b3c2d",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "challenge_click",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Filter - Only Challenge Clicks",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1BHxvKQc8yNHfP5wX9jQ2mR3sT4uV6wX7yZ8aB9cD0eF",
        "sheetName": "Challenge_Events",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "event_type": "={{ $json.event_type }}",
            "challenge_name": "={{ $json.challenge_name }}",
            "challenge_title": "={{ $json.challenge_title }}",
            "challenge_level": "={{ $json.challenge_level }}",
            "action": "={{ $json.action }}",
            "session_id": "={{ $json.sessionId }}",
            "user_agent": "={{ $json.userAgent }}",
            "url": "={{ $json.url }}",
            "referrer": "={{ $json.referrer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_name",
              "displayName": "challenge_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_title",
              "displayName": "challenge_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "challenge_level",
              "displayName": "challenge_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_agent",
              "displayName": "user_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "referrer",
              "displayName": "referrer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Google Sheets - Save Click Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
          "name": "Google Sheets - CloudWalk Nimbus"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Challenge click tracked successfully\", \"challenge\": $json.challenge_name, \"timestamp\": $json.timestamp } }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ignored\", \"message\": \"Event type not tracked\", \"received_event\": $json.event_type } }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Respond - Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log incoming event for debugging\nconsole.log('Incoming webhook data:', JSON.stringify($input.all(), null, 2));\n\n// Extract and clean the data\nconst inputData = $input.all()[0].json;\n\n// Clean challenge_level - remove emojis and extra whitespace\nlet cleanLevel = inputData.challenge_level || '';\ncleanLevel = cleanLevel.replace(/[\\u{1F300}-\\u{1F5FF}\\u{1F600}-\\u{1F64F}\\u{1F680}-\\u{1F6FF}\\u{1F700}-\\u{1F77F}\\u{1F780}-\\u{1F7FF}\\u{1F800}-\\u{1F8FF}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FA6F}\\u{1FA70}-\\u{1FAFF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}]/gu, '');\ncleanLevel = cleanLevel.replace(/\\s+/g, ' ').trim();\n\n// Return cleaned data\nreturn {\n  timestamp: inputData.timestamp || new Date().toISOString(),\n  event_type: inputData.event_type || 'unknown',\n  challenge_name: inputData.challenge_name || '',\n  challenge_title: inputData.challenge_title || '',\n  challenge_level: cleanLevel,\n  action: inputData.action || 'expand',\n  sessionId: inputData.sessionId || '',\n  userAgent: inputData.userAgent || '',\n  url: inputData.url || '',\n  referrer: inputData.referrer || ''\n};"
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Code - Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Challenge Clicks": {
      "main": [
        [
          {
            "node": "Code - Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only Challenge Clicks": {
      "main": [
        [
          {
            "node": "Google Sheets - Save Click Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Save Click Data": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Clean Data": {
      "main": [
        [
          {
            "node": "Filter - Only Challenge Clicks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowOwner",
    "errorWorkflow": {
      "errorWorkflow": "",
      "errorWorkflowId": ""
    },
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "nimbus-click-tracking-001"
  },
  "id": "nimbus-click-tracking",
  "tags": ["cloudwalk", "nimbus", "analytics", "click-tracking"]
} 